
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .sidebariconnames{
    padding-left: 15px;
    font-size: medium;
  }
  #sidebar {
    height: 100vh;
    width: 215px;
    background-color: #33b811;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis;
    transition: 0.2s;
    flex-direction: column;
    justify-content: space-between;
  }

  #sidebar a {
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    transition: 0.2s;
  }

  #sidebar a:hover {
    background-color: #0f652a;
  }

  #content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.2s;
  }

  #sidebarCollapse {
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    top: 10px;
    left: 10px;
  }
  .fas,.fa-solid,.fa-regular{
   width: 25px;
  }
  #sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .listbutton{
    display: flex;
    border-radius: 5px;
    border-color: transparent;
    margin: 7px;
    height: 40px;
    width: 200px;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  